@import "./_variables.scss";
@import "bootstrap";
@import "./_transitions.scss";
@import "./_overrides.scss";

:root {
  --grey: #f6f6f6;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

main {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
}
body {
  margin: 8px;
}

.masonry-root {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  .masonry-cell {
    flex: 1;
    margin: 4px;
    .masonry-item {
      background: #EC985A;
      color: white;
      margin: 4px;
      text-align: center;
      font-family: system-ui;
      font-weight: 900;
      font-size: 32px;
    }
  } 
  @for $i from 1 through 512 { 
    .masonry-cell:nth-child(#{$i}) {
      .masonry-item {
        $h: (random(128) + 64) + px;
        height: $h;
        line-height: $h;
      }
    }
  }
}
